h1{
  text-align:left;
  background-color: gray;
}
table, th,td{
  width: 1050px;
  border: 2px solid;
}
th{
  background-color: gray;
}
table.center{
  margin-left: auto;
  margin-right: auto;
}
p{
  text-align:center;
  text-wrap:balance;
}
div{
  text-align:center;
  background-color:rgb(211, 211, 211, 0.75);
  margin-left:250px;
  margin-right:250px;

}
body{
  background-image: url(../images/IMG_1507.jpg);
  background-size: 100vw 150vh;
}
img{
  width: 250px;
  height: 250px;
}